.table {
  width: 50%;
  margin: 24px auto 0;
  border-spacing: 0px;
  border-collapse: collapse;
}

.thead {
  background-color: rgb(2, 2, 2);
  color: white;
}

.tr {
  text-transform: capitalize;
  text-align: center;
}

.tr:nth-child(2n) {
  background-color: rgb(186, 184, 182);
}

.tr td {
  border: 1px black solid;
}

.tr td:nth-child(1) {
  text-align: left;
  padding-left: 48px;
}
